.footer {
  background: #000f09;
  color: #fff;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  .footer {
  padding: 40px 80px;
  }

}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-about,
.footer-links,
.footer-social {
  flex: 1 1 250px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #4caf50;
}

.footer-social a {
  font-size: 20px;
  color: #fff;
  margin-right: 15px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #4caf50;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #333;
  padding-top: 20px;
}